body {
    margin:0;
    overflow: scroll;
}
.navbar {
    overflow: hidden;
    background-color: darkslateblue;
    position: fixed;
    top: 0;
    width: 100%;

}
.navbar li {
    cursor: pointer ;
    /*float: left;*/
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
    font-size: 40px;
    width:24%;
    border: none;
}
ul{
    list-style: none;
}

/*
.buttons{
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 20px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
    min-width:300px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
*/

#saveLocal, #getLocal{


}
#errormess{
    position: absolute;
    font-size: 70px;
}
#name{
    height: 250px;
    visibility: hidden;
    width:100%;
}
#namefield{
    font-size: 90px;
    width:100%;
}
#save, #get{
    visibility: hidden;
    position: absolute;
    display: inline;
}

#PBName{
    font-size: 70px;
}

#palatte{
    overflow: hidden;
    position: fixed;
    top: 100px;
    background-color: white;
    /*overflow: hidden;

    position: fixed;
    top: 0;
    width: 100%;
*/
    width: 100%;
    align-items:center;/*
    position: fixed;
    top:0;

    overflow: hidden;*/
}
#palatte.colors{
       opacity: .5;
        display: inline-block;

        height: 100px;
    /*
            display: block;

            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        */

}
.colors{
    opacity: .5;
    display: inline-block;
    margin-bottom: 12px;
    margin-top: 12px;
    width:15%;
    height: 100px;
}
.colors img{

    width:100%;
    height: 100px;
    display: block;
}


.colors:first-child{
    margin-left: 8px;

}
#green{

    background:green;

}
#blue{
    background:blue;
}
#red{
    background:red;
}
#yellow{
    width:19%;
    height: 150px;
    background:yellow;
    margin-bottom: 0px;
    margin-top: 0px;
}
#orange{
    background:orange;
}
#black{
    background:black;
}
#white{
    width:50px;height:50px;background:white;border:2px solid;
}
#pb{
    position:absolute;top:10%;left:52%;" style="display:none;
}
.btn{

}
#clr{

}
#canvasimg{
    visibility: collapse;
    display: none;
    width:50%;
    overflow:hidden;
}
.imagePreview{
    visibility: collapse;
    display: none;
    width:50%;
    position: absolute;
}
.savedImage{
    display: inline-block;

    width:75%;
    height:auto;
}
#saveSpace{
    position: absolute;
}
canvas{
    overflow:hidden;
    border:2px solid;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#eraser{
    position:absolute;top:490px;left:10px;
}

#keepstill{
    overflow:hidden;
}
@media screen and (max-width: 1067px) {
    body {

    }
    #palatte{
        top:150px;
    }


}
/*
@media screen and (max-width: 646px) {
    #palatte{
        top:200px;
    }
}
*/