.buttons{
    background-color: gray;
    border: none;
    color: white;
    padding: 20px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
    min-width:300px;
}
ul{

    padding:0;
    list-style: none;
    width:100%;

}
li{
    /*background-color: #4CAF50; /* Green
    padding: 15px 32px;
    font-size: 16px;*/
    
    min-width:300px;
    width:20%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;



}
#saveLocal, #getLocal{
    cursor: not-allowed;
    opacity: .2;

}
#errormess{
    position: absolute;
    font-size: 70px;
}
#name{
    width:100%;
}
#namefield{
    font-size: 90px;
    width:100%;
}

#PBName{
    font-size: 70px;
}
#colorchoice{
    position:absolute;
    top:450px;
    left:10px;
}
#palatte{

    width: 100%;
    align-items:center;
}
.colors{
    opacity: .5;
    display: inline-block;
    margin-bottom: 12px;
    margin-top: 12px;
    width:14%;
    height: 100px;
}
.colors:first-child{
    margin-left: 8px;
}
#green{

    background:green;
}
#blue{
    background:blue;
}
#red{
    background:red;
}
#yellow{
    width:19%;
    height: 150px;
    background:yellow;
    margin-bottom: 0px;
    margin-top: 0px;
}
#orange{
    background:orange;
}
#black{
    background:black;
}
#white{
    width:50px;height:50px;background:white;border:2px solid;
}
#pb{
    position:absolute;top:10%;left:52%;" style="display:none;
}
.btn{

}
#clr{

}
#canvasimg{
    visibility: collapse;
    display: none;
    width:50%;
}
.imagePreview{
    visibility: collapse;
    display: none;
    width:50%;
    position: absolute;
}
.savedImage{
    display: inline-block;

    width:75%;
}
#saveSpace{
    position: absolute;
}
canvas{
    border:2px solid;
}
#eraser{
    position:absolute;top:490px;left:10px;
}