{
    margin: 0;
    padding: 0;
}
nav {
    margin: 0px;
}
ul {
    overflow: auto;
    list-style-type: none;
}
li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
    background: green;
    transition: all 2.5s ease;
}
li:hover{
    height: 100px;
    background: blue;
}
li:last-child {
    border-right: none;
}

li a {
    text-decoration: none;
    color: #ccc;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 2.5s ease;
}

li a:hover {
    color: rgba(36, 255, 19, 0.42);

}
li.active a {
    font-weight: bold;
    color: #333;
}
#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
}
#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    right:0;

    /*right: 0px;*/
    background-color: red;
}
#square {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-play-state: paused;
    animation-iteration-count: infinite;


}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}